
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}

h2 {
	font-weight: bold;
	font-size: 1.2em;
}

.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto; /* don't touch this */
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 154px;
	background: #FFE680;
	display: inline;
}

.header div {
	float: right;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0;
	position: relative;
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.content {
	padding: 10px 15px 25px 200px;
	background-color: #E0E0E0 ;

}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.nav {
	float: left;
	width: 160px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
	padding: 10px;
}

.menu {
	list-style: none;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -50px auto 0;
	min-width: 1000px;
	height: 50px;
	background: #BFF08E;
	position: relative;
}